#planning-poker-members-list{
    text-align:center;
    height:40%;
    vertical-align:middle;

}

.planning-poker-carte-others{
    width:30px;
    margin:auto;
    border:1px silver solid;
    height:25px;
    background-color: #ffffff;
    text-align:center;
    font-size: 20px;
    position:relative;
    padding-top:20px
}
.username{
    font-size:10px;
}
.planning-poker-carte.me{
    width:30px;
    font-size:1.4em;
    text-align:center;
    height:25px;
    border-bottom:0;
    cursor:pointer;
}

.planning-poker-carte.me:hover{
    height:35px;
}

#planning-poker-table{
    background-color:#0D7846;
    width:90%;
    height:20%;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border:3px #854711 solid
}
#classtable{
    height: 100%;
}
.planning-poker-card{
    vertical-align:bottom;
    width: 40px;
}

#planning-poker-card-list{
    position:absolute ;
    height:40px;
    bottom:0;
    margin:0;
    padding-bottom:0
}

#planning-poker-card-list li{
    display:inline-block;
    list-style:none;
    padding:0 5px 0 5px;
    text-align:center
}

#stories{
    background-color:#F2F2F2;
    border-top:1px silver solid;
}
#jeu{
    position:relative
}

#stories>p{
    padding-left: 10px;
    padding-bottom:0;
    color: #777777;
    font-size: 11px;
    line-height: 17px;
}

.planning-poker-right {
	position:absolute;
    right:0;
    top:0;
}

.stories-list{
    overflow:hidden;
}

.selected{
    background-color:#777
}

.planning-poker-carte-result{
    position:absolute ;
    right:10%;
    top:20%;
    height:133px;
    width:100px;
    bottom:0;
    margin:auto;
    border:1px silver solid;
    background-color: #ffffff;
    vertical-align:middle;
    text-align:center
}

.estimation{
    font-size: 3em;
    position:relative;
    top:40%
}

.planning-poker-carte.me.activatedCard {
    height:35px;
    background: #3399ff;
}

#voteButton{
    margin-left:45%;
    margin-top:2%;
}

.planning-poker-carte{
    width:50%;
    margin:auto;
    border:1px silver solid;
    height:50px;
}

#estimated-title{
    cursor:pointer;
}